/******************* HIDE FORM
************************************************/
form {
/*  display: none;*/
}

/******************* PROGRESSION BAR
************************************************/
.progression {
  text-align: center;
}
.progression img {
  height: auto;
  width: 100px;
}

/******************* PANEL HEIGHT
************************************************/
.basic-options,
.detail-options,
.finalize-options,
.character {
  height: 375px;
}

/******************* BUTTON STYLE/POSITION
************************************************/
.position-center {
  position: absolute;
  top: 75px;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

.button-container img {
  height: 50px;
  width: auto;
}

.gender-button-container {
  margin-left: 5px;
  display: inline-block;
}

.vertical-button-container div {
  width: 50px;
}

.race-button-container img,
.profession-button-container img {
  margin: 2px;
}

.race-button-container {
  float: left;
}

.race-button-container img {
  float: right;
}

.race-button-container img {
  margin-left: auto;
  margin-right: 0;
}

.profession-button-container {
  float: right;
}

/****** DETAIL OPTIONS
***********************/
.detail-options > .button-container > div {
  text-align: center;
}

.detail-options img {
  margin-top: 5px;
}

.detail-options .button-cycle {
  width: 30px;
  height: auto;
}

.detail-options .button-container {
  width: auto;
}

/******************* INFO
************************************************/
.hp-display,
.ac-display {
  background: black;
  color: white;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
}

.ac,
.hp {
  margin-top: -10px;
}
/******************* INFO
************************************************/

.basic-info,
.detail-info,
.finalize-info {
  overflow-y: scroll;
}

/****** BASIC INFO
***********************/
.stat-container {
  margin-top: -15px;
}
.stat-container div {
  text-align: center;
}

.stat-container p {
  margin-top: 10px;
  text-align: center;
}

.stat-container div > img {
  height: 29px;
  width: auto;
}

.stat-value {
  margin-top: 5px;
}

.raceDescription {
  margin-top: 15px;
}

/****** DETAIL INFO
***********************/

/****** FINALIZE INFO
***********************/

/******************* ITEM AJAX STYLEs
************************************************/


/******************* MEDIA QUERIES
************************************************/
@media (min-width: 768px) {
  .body {
    background: red;
  }

  .basic-options,
  .detail-options,
  .finalize-options,
  .character,
  .basic-info,
  .detail-info,
  .finalize-info {
    height: 450px;
  }

  .basic-options .button-container {
    margin-top: -15px;
  }

  .detail-options .button-container {
    margin-top: 35px;
  }


}