/******************* HIDE FORM
************************************************/
form {
/*  display: none;*/
}

/******************* PROGRESSION BAR
************************************************/
.progression {
  text-align: center;
}
.progression img {
  height: auto;
  width: 75px;
}

/******************* PANEL HEIGHT
************************************************/
.basic-options,
.detail-options,
.finalize-options,
.character {
  height: 375px;
}

/******************* BUTTON STYLE/POSITION
************************************************/
.position-center {
  position: absolute;
  top: 75px;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

.button-container img {
  height: 50px;
  width: auto;
}

.gender-button-container {
  margin-left: 5px;
  display: inline-block;
}

.vertical-button-container div {
  width: 50px;
}

.race-button-container img,
.profession-button-container img {
  margin: 2px;
}

.race-button-container {
  float: left;
}

.race-button-container img {
  float: right;
}

.race-button-container img {
  margin-left: auto;
  margin-right: 0;
}

.profession-button-container {
  float: right;
}

/****** DETAIL OPTIONS
***********************/
.detail-options > .button-container > div {
  text-align: center;
}

.detail-options img {
  margin-top: 5px;
}

.detail-options .button-cycle {
  width: 28px;
  height: auto;
}

.detail-options .button-container {
  width: auto;
}

/******************* INFO
************************************************/

/******************* INFO
************************************************/

.basic-info,
.detail-info,
.finalize-info {
  overflow-y: scroll;
  height: auto;
}

/****** BASIC INFO
***********************/
.stat-container > div{
  text-align: center;
}

.stat-table-small {
  margin-left: 20px;
}
.stat-table-small div {
  text-align: center;
  margin-top: 10px;
}

.stat-table-small div > img {
  height: 29px;
  width: auto;
}

.stat-table img {
  height: 30px;
  width: auto;
  margin-bottom: 5px;
  margin-left: 10px;
}

.table>tbody>tr>td,
.table>tbody>tr>th{
  padding: 0;
}

.stat-table > table {
  border: 0px;
  margin-top: 60px;
  margin-left: -5px;
}

.hp-ac-container img {
  height: 45px;
  width: 45px;
}

.hp-ac-container {
  margin-left: 20px;
}

.hp-display,
.ac-display {
  display: inline;
}

/****** DETAIL INFO
***********************/

/****** FINALIZE INFO
***********************/

/******************* ITEM AJAX STYLEs
************************************************/
.selected-item {
  height: 150px;
}

/******************* MEDIA QUERIES
************************************************/
@media (min-width: 768px) {
  .basic-options,
  .detail-options,
  .finalize-options,
  .character,
  .basic-info,
  .detail-info,
  .finalize-info {
    height: 450px;
  }

  .basic-options .button-container {
    margin-top: -15px;
  }

  .detail-options .button-container {
    margin-top: 35px;
  }

  .hp-ac-container { 
    margin-top: 50px
  }

  .stat-table {
    margin-top: 0px;
  }


}