body {
    padding-top:0px;
}

.splash {
/*	margin-top: 75px;*/
}

.tree {
	position: absolute;
	top: 0;
	left: 0;
}

.logo {
	position: absolute;
	top: 150px;
	right: 75px;
}

.navbar {
	top: 728px;
	margin-left: 21px;
}

.about {
	background-color: red;
	top: 800px;
	height: 650px;
}