
.splash {
/*	margin-top: 75px;*/
}

.tree {
	position: absolute;
	top: 0;
	left: 0;
}

.logo {
	position: absolute;
	top: 150px;
	right: 75px;
}


.about {
	background-color: red;
	top: 800px;
	height: 650px;
}