.container {
	max-width: 1200px !important;
}

.alert {
	@include pillstyle;
	/*background: url('../images/rockywall.png');*/
	/*	box-shadow: inset 0 0 0 1000px rgba($black, .5);*/
	@include background-image(
		linear-gradient(left top, 
			rgba($dark, .7) 0%,
			rgba($dark, .3) 100%
		),
		url('../images/rockywall.png')
	);
	box-shadow: inset 0 0 0 1000px rgba($black, .5);

	border: 2px solid transparent;
	-moz-border-image: -moz-linear-gradient(top left, rgba($mediumDark, 1) 0%, rgba($dark, 0) 100%);
	-webkit-border-image: -webkit-linear-gradient(top left, rgba($mediumDark, 1) 0%, rgba($dark, 0) 100%);
	border-image: linear-gradient(to bottom right, rgba($mediumDark, 1) 0%, rgba($dark, 0) 100%);

	border-image-slice: 1;
}

.nav {
	a {
		color: $light;
	}
}

.nav-pills {
	li {
		a, 
		a:hover, 
		a:focus {
			@include pillstyle;
			background: url('../images/rockywall.png');
			box-shadow: inset 0 0 0 1000px rgba($dark, .3);
		}
		a {
			-webkit-transition: transform 0.1s ease-in-out;
		    -moz-transition: transform 0.1s ease-in-out;
		    transition: transform 0.1s ease-in-out;
		}
		a:hover {
			-moz-transform: scale(1.05);
		    -webkit-transform: scale(1.05);
		    -o-transform: scale(1.05);
		    -ms-transform: scale(1.05);
		    -webkit-transform: scale(1.05);
		    transform: scale(1.05);
		}
	}
	li.active {
		a, 
		a:hover, 
		a:focus {
			@include pillstyle;
			color: #fff;
			border-color: $dark;
			background: url('../images/rockywall.png');
			box-shadow: inset 0 0 0 1000px rgba($medium, .7);
		}
	}
}

