/******************* DETAIL-OPTIONS
************************************************/
.nav {
    a {
        text-align: center;
    }
}

/******************* PANEL HEIGHT
************************************************/
.basic-options,
.detail-options,
.finalize-options,
.character {
    height:375px
}

/******************* BASIC-OPTIONS
************************************************/
.race-options {
    margin-top: 10px;
    width: 50%;
    display: inline-block;
}

.profession-options {
    margin-top: 10px;
    width: 50%;
}

.gender-options {
    margin-top: 40%;
    li {
        width: 49%;
    }
}

/******************* DETAIL-OPTIONS
************************************************/
.detail-options {
    nav-pills {
        display: inline-block;
    }
    ul {
        margin-top: 40%;
        display: inline-block;
    }
    .left-cycle {
        width: 20%;
    }
    .detail-option-buttons {
        width: 55%;
    }
    .right-cycle {
        width: 20%;
    }
}
/******************* FINALIZE-OPTIONS
************************************************/


/******************* INFO
************************************************/
.basic-info,
.detail-info,
.finalize-info {
    height:auto
}

/****** BASIC INFO
***********************/
.stat-container > div {
    text-align:center
}

.stat-table-small {
    margin-left:20px;
    top:150px
}

.stat-table-small div {
    text-align:center;
    margin-top:10px
}

.stat-table-small div > img {
    height:29px;
    width:auto
}

.stat-table img {
    height:30px;
    width:auto;
    margin-bottom:5px;
    margin-left:10px
}

.table>tbody>tr>td,.table>tbody>tr>th {
    padding:0
}

.stat-table {
    top:125px
}

.stat-table > table {
    border:0;
    margin-left:-5px
}

.hp-ac-container img {
    height:45px;
    width:45px
}

.hp-ac-container {
    margin-left:20px
}

.hp-img,.ac-img {
    display:inline
}

/****** DETAIL INFO
***********************/
/****** FINALIZE INFO
***********************/
/******************* ITEM AJAX STYLEs
************************************************/
.selected-item {
    height:110px
}

/******************* MEDIA QUERIES
************************************************/
@media (min-width: 768px) {
.basic-options,.detail-options,.finalize-options,.character,.basic-info,.detail-info,.finalize-info {
    height:450px
}

.basic-options .button-container {
    margin-top:-15px
}

.detail-options .button-container {
    margin-top:35px
}

.hp-ac-container {
    margin-top:50px
}

.stat-table {
    margin-top:0
}
}