/*Navbar*/
.navbar {
	background: $black;
	margin-top: 20px;
}

.navbar-brand {
	color: $yellow;
}

.nav {
	li {
		a {
			color: $yellow;
		}
		a:hover {
			background: transparent;
			color: $olive;
		}
	}
}
