/*Navbar*/
.navbar {
	background: $black;
	height: 75px;
}

.navbar-brand {
	color: $yellow;
}

.navbar-brand:hover {
	color: $olive;
}

.nav {
	background: $black;
	li {
		a {
			color: $yellow;
		}
		a:hover {
			background: $black;
			color: $olive;
		}
	}
}

.navbar-header,
.nav {
	margin-top: 10px;
}