/*Colors*/
$yellow: #87a85c;
$olive: #43442b;
$black: #151515;
$grey: #6a6a68;
$white: #ffffff;

/*General*/
body {
	background-color: $black;
}

/*Navbar*/

.navbar {
	background: transparent;
}

.nav {
	li {
		a {
			color: red;
		}
	}
}
